# Creation of synthetic data

In [23]:
import random

In [24]:
s_hour=[]
for i in range(0,100):
    s_hour.append(random.randint(30,75))

In [25]:
# s_hour

In [26]:
import pandas as pd

In [27]:
df=pd.DataFrame(s_hour, columns=["s_hour"])

In [28]:
df.head()

   s_hour
0      35
1      40
2      60
3      48
4      45

In [29]:
df.to_csv("first_data.csv", index=False)

In [30]:
label=[]
for i in range(0,100):
    if df['s_hour'][i]<45:
        label.append('Fail')
    else:
        label.append("Pass")

In [31]:
df['label']=label

In [32]:
df.head()

   s_hour label
0      35  Fail
1      40  Fail
2      60  Pass
3      48  Pass
4      45  Pass

In [33]:
label2=[]
for i in range(0,100):
    if  df['s_hour'][i]>50:
        label2.append("PASS")
    else:
        label2.append("FAIL")

In [34]:
df['labellll']=label2

In [35]:
df.head()

   s_hour label labellll
0      35  Fail     FAIL
1      40  Fail     FAIL
2      60  Pass     PASS
3      48  Pass     FAIL
4      45  Pass     FAIL

In [36]:
# dept=['CSE','EEE','JRN','BBA']
# p=random.choice(dept)
# p

In [42]:
dept=[]
for i in range(0,100):
    dept.append(random.choice(['CSE','EEE','JRN','BBA']))

In [43]:
df['depttt']=dept

In [44]:
df.head()

   s_hour label labellll depttt
0      35  Fail     FAIL    BBA
1      40  Fail     FAIL    BBA
2      60  Pass     PASS    BBA
3      48  Pass     FAIL    CSE
4      45  Pass     FAIL    EEE