In [9]:
import pandas as pd

In [10]:
data={
    "x":[1,2,3,4,5,6,7,8],
    "y":[5,6,7,8,9,14,22,33]
}
data

{'x': [1, 2, 3, 4, 5, 6, 7, 8], 'y': [5, 6, 7, 8, 9, 14, 22, 33]}

In [11]:
df=pd.DataFrame(data)
df.head()

   x  y
0  1  5
1  2  6
2  3  7
3  4  8
4  5  9

In [17]:
pea_corr=df['x'].corr(df['y'])
pea_corr

np.float64(0.886904761904762)

In [18]:
float(pea_corr)

0.886904761904762

In [19]:
df.corr()

          x         y
x  1.000000  0.886905
y  0.886905  1.000000