In [1]:
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [10]:
x,y=make_classification(n_samples=1000, n_features=10, n_classes=2,random_state=10)
x

array([[-1.00583777, -0.37653943, -0.62017967, ...,  1.67804613,
         1.0801799 ,  0.35358714],
       [ 0.41117999,  0.76240872, -0.78421   , ..., -0.85044853,
        -0.46130068,  1.06223729],
       [-1.52540752,  2.22793382,  0.5477266 , ...,  2.44004248,
         1.69891857, -0.70530243],
       ...,
       [-1.614926  ,  0.74310266,  1.13675653, ...,  2.8471565 ,
        -0.91145218, -1.22062837],
       [-0.14262151, -1.43323743, -2.54920034, ...,  0.39777869,
        -0.71639987,  0.6122551 ],
       [-0.1251796 ,  0.73011191, -1.87888552, ...,  0.74154153,
         0.30886522, -1.36966537]], shape=(1000, 10))

In [11]:
pd.DataFrame(x)

            0         1         2         3         4         5         6         7         8         9
0   -1.005838 -0.376539 -0.620180 -0.157567 -1.120805 -0.589091 -1.574578  1.678046  1.080180  0.353587
1    0.411180  0.762409 -0.784210 -0.096479 -0.408758 -0.665780  0.210942 -0.850449 -0.461301  1.062237
2   -1.525408  2.227934  0.547727 -0.341481 -0.817577  0.423091 -2.663678  2.440042  1.698919 -0.705302
3   -1.374563  0.061129 -0.995868 -0.214351 -0.558957  0.064870 -2.149167  2.294192 -1.383965  0.806924
4   -0.549798  0.046349  0.834756 -0.104845 -0.455528 -0.410938 -0.911018  0.898098  1.068259  0.384683
..        ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
995  0.029647 -0.056868 -0.336122 -0.700527  0.129147 -2.184106 -1.850227 -0.770335 -0.888264  0.285027
996  0.157019  0.566137  0.627820 -0.049620  1.765735  0.416363  0.046187 -0.337826 -0.161875 -0.339948
997 -1.614926  0.743103  1.136757 -0.103349 -0.769979 -1.922992 -2.125616  2.847156 -0.911452 -1.220628
998 -0.142622 -1.433237 -2.549200  0.134018  1.092140  0.525805  0.197284  0.397779 -0.716400  0.612255
999 -0.125180  0.730112 -1.878886  0.501490 -0.411241 -0.383437  1.205595  0.741542  0.308865 -1.369665

[1000 rows x 10 columns]

Train and test

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)
x_train

array([[-0.73684127,  1.38561587, -0.83827776, ...,  1.25220488,
         0.80849687,  0.17560071],
       [ 0.02498007, -0.50856271,  0.24159242, ...,  0.19665444,
        -2.71033019,  0.73827185],
       [ 0.60817991,  0.69113022, -0.71551942, ..., -0.95405864,
         0.5634596 , -1.03872523],
       ...,
       [-0.20387579,  0.25955713,  0.14299118, ...,  0.33678524,
        -0.33085497, -0.35668791],
       [-0.24900903,  0.13994288, -0.97346852, ...,  0.68857032,
         0.66667096,  0.33616473],
       [-0.11490133, -0.39779889, -0.71946593, ...,  0.07951074,
        -1.64219634,  2.2453931 ]], shape=(700, 10))

In [18]:
x_train.shape

(700, 10)

In [19]:
x_test.shape

(300, 10)