In [58]:
print(2+2)

4

In [59]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [60]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [61]:
df=pd.DataFrame()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [62]:
city=["a","b","c"]
city2=["a","b","c"]
city
city2

['a', 'b', 'c']

In [63]:
df=pd.DataFrame(city)
df

   0
0  a
1  b
2  c

In [64]:
type(df)

pandas.core.frame.DataFrame

In [65]:
row

3

In [66]:
col

1

In [67]:
df.shape

(3, 1)

In [72]:
city = ["Dhaka", "Chittagong", "Khulna"]
city2 = ["Rajshahi", "Sylhet", "Barishal"]
df2=pd.DataFrame(zip(city,city2),columns=["Name1","Name2"],index=["city1","city2","city3"])
df2

            Name1     Name2
city1       Dhaka  Rajshahi
city2  Chittagong    Sylhet
city3      Khulna  Barishal

In [73]:
df2.shape

(3, 2)

In [ ]:
import pandas as pd

df=pd.read_csv('data.csv')
# df.describe()
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)
profile

,Counts,Counts Uncertainty,CPS,CPS Uncertainty,Weight,Ra-226
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,3699.889920,371.988103,0.184889,0.018561,534.997346,22.176793
std,2353.774596,122.179304,0.117650,0.006172,30.629437,13.265715
min,0.000000,0.000000,0.000000,0.000000,447.623479,0.000000
25%,1862.040678,288.748550,0.092774,0.014338,514.478018,12.107497
50%,3621.717784,373.794007,0.180911,0.018678,535.205873,22.086711
75%,5336.144307,454.020327,0.266686,0.022582,554.817013,31.358723
max,10749.442103,719.999831,0.537315,0.036014,630.670819,60.559143

In [80]:
df.CPS

0      0.257291
1      0.347165
2      0.255963
3      0.062861
4      0.166097
         ...
995    0.257616
996    0.470485
997    0.117439
998    0.039558
999    0.018629
Name: CPS, Length: 1000, dtype: float64

In [82]:
df[['CPS Uncertainty']]

     CPS Uncertainty
0           0.022986
1           0.028214
2           0.020702
3           0.013902
4           0.017046
..               ...
995         0.024478
996         0.032513
997         0.017130
998         0.013068
999         0.009336

[1000 rows x 1 columns]

In [75]:
df.values

array([[5.15132525e+03, 4.61769728e+02, 2.57290741e-01, 2.29858771e-02,
        5.13855419e+02, 3.25653905e+01],
       [6.94302684e+03, 5.65212925e+02, 3.47164643e-01, 2.82135345e-02,
        5.41687705e+02, 4.22721483e+01],
       [5.12360843e+03, 4.18554011e+02, 2.55963369e-01, 2.07019218e-02,
        5.18573680e+02, 3.08069759e+01],
       ...,
       [2.34688978e+03, 3.41362132e+02, 1.17438709e-01, 1.71304729e-02,
        6.00354153e+02, 1.19468001e+01],
       [7.88286965e+02, 2.60381538e+02, 3.95579413e-02, 1.30681568e-02,
        5.52175490e+02, 5.19842583e+00],
       [3.73874782e+02, 1.93273176e+02, 1.86288540e-02, 9.33637128e-03,
        5.32326956e+02, 2.53018505e+00]], shape=(1000, 6))

In [76]:
df.columns

Index(['Counts', 'Counts Uncertainty', 'CPS', 'CPS Uncertainty', 'Weight',
       'Ra-226'],
      dtype='object')